/* FOR SCROLLSPY */
body {
    position: relative;
}

/* TOP NAVBAR */
#top-nav {
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 3px solid rgb(253, 185, 19);
}

.main-logo{
    max-height: 6rem;
}

.nav-link {
    font-weight: bold;
    color: rgb(253, 185, 19);
}

.nav-link.active {
    color: black;
}

.nav-link:hover {
    color: #E7A811;
}

/* HEADING */
.jumbotron {
    margin-top: 7rem;
    background-color: rgb(253, 185, 19) !important;
}

/* ROWS */
#section1, #section2, #section3 {
    margin-top: -5rem;
    padding-top: 9rem;
    padding-bottom: 2rem;
}

.middle-pic {
    margin: 3rem;
    min-width: 60%;
    border: 1px solid rgb(253, 185, 19);
}

.second-middle-pic {
    margin: 1rem;
}

.card-middle-pic {
    margin-bottom: 3rem;
    max-width: 60%;
}

/* HEADINGS */
.blob-image {
    height: 2.2rem;
    padding-bottom: 0.4rem;
}

/* CONTACT */
.contact-icon {
    font-size: 1.4rem;
    margin-right: 1rem;
}

/* FOOTER */
.footer {
  width: 100%;
  height: 6rem; /* Set the fixed height of the footer here */
  line-height: 6rem; /* Vertically center the text there */
  margin-bottom: 0;
  background-color: rgb(253, 185, 19);
}

.footer-box {
    margin-bottom: 0;
}

.footer-box p {
    color: white;
}

.footer-span {
    line-height: 5.5rem;
}

.social-media-footer {
    margin-right: 0.5rem;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 1.5rem;
}

.social-media-footer i {
    color: white;
}

.social-media-footer i:hover {
    color: rgb(253, 185, 19);
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    .carousel-inner img {
        height: 20rem;
    }
}

@media screen and (max-width: 576px) {
    .carousel-inner img {
        height: 18rem;
    }

    #section1, #section2, #section3 {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .middle-pic {
        margin: 2rem 0 1rem 4rem;
    }

}
